<nav>
  <ul class="nav bg-light nav-tabs justify-content-center">
    {{#if user}}
    <li class="nav-item">
      <a class="nav-link" href="users/logout">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="secret">Secret</a>
    </li>
    {{else}}
    <li class="nav-item">
      <a class="nav-link" href="/users/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/register">Register</a>
    </li>
    {{/if}}
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
  </ul>
</nav>