html {
  padding: 0;
  margin: 0
}

;

body {
  height: 100vh;
  background-color: tomato;
}

footer {
  height: 60px;
  width: 100vw;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.517), rgba(152, 152, 152, 0.551));

  bottom: 0;
  position: absolute;
}